.question-paper-container1 {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}

.question-paper-question-paper {
  gap: 10px;
  width: 100%;
  height: 1008px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}

.question-paper-background {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  backdrop-filter: blur(100px);
  background-color: rgba(255, 255, 255, 0.01);
}

.question-paper-blob4 {
  top: 2801px;
  left: 0px;
  width: 595px;
  height: 794px;
  position: absolute;
}

.question-paper-blob1 {
  top: 1638px;
  left: 910.4359130859375px;
  width: 530px;
  height: 855px;
  position: absolute;
}

.question-paper-blob3 {
  top: 0px;
  left: 57.28311538696289px;
  width: 570px;
  height: 916px;
  position: absolute;
}

.question-paper-blob6 {
  top: 4785px;
  left: 149.9111328125px;
  width: 570px;
  height: 916px;
  position: absolute;
}

.question-paper-glass {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  padding: 20px;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(255, 255, 255, 0.30000001192092896);
  border-style: solid;
  border-width: 1px;
  border-radius: 32px;
  flex-direction: column;
  backdrop-filter: blur(1000px);
  background-color: rgba(255, 255, 255, 0.009999999776482582);
}

.question-paper-group44 {
  top: 213px;
  left: 199px;
  width: 626px;
  height: 256px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}

.question-paper-rectangle80 {
  top: 218px;
  left: 35px;
  width: 230px;
  height: 38px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 16px;
  background-color: aliceblue;
  cursor: pointer;
}


.question-paper-rectangle82 {
  top: 218px;
  left: 340px;
  width: 230px;
  height: 38px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  background-color: aliceblue;
  border-radius: 16px;
  cursor: pointer;
}

.question-paper-rectangle81 {
  top: 146px;
  left: 35px;
  width: 230px;
  height: 38px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 16px;
  background-color: aliceblue;
  cursor: pointer;
}

.question-paper-rectangle83 {
  top: 146px;
  left: 340px;
  width: 230px;
  height: 38px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  background-color: aliceblue;
  border-radius: 16px;
  cursor: pointer;
}

.question-paper-question {
  top: 0px;
  left: 0px;
  width: 626px;
  height: 63px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 1);
}

.question-paper-text10 {
  top: 0px;
  left: 0px;
  color: rgba(0, 0, 0, 1);
  right: 0px;
  bottom: 0px;
  height: auto;
  margin: auto;
  display: flex;
  position: absolute;
  font-size: 32px;
  font-style: SemiBold;
  text-align: left;
  align-items: center;
  font-family: Montserrat;
  font-weight: 600;
  line-height: 100%;
  font-stretch: normal;
  justify-content: center;
  text-decoration: none;
}

.question-paper-container2 {
  top: 28px;
  left: 1375px;
  width: 413px;
  height: 738px;
  margin: 40px;
  display: flex;
  position: absolute;
  align-items: center;
}

.question-paper-rectangle78 {
  top: 0px;
  left: 0px;
  width: 413px;
  height: 578px;
  position: absolute;
  border-radius: 16px;
}

.question-paper-camera {
  top: 26px;
  left: 50px;
  width: 320px;
  height: 240px;
  position: absolute;
  border-radius: 16px;
}

.question-paper-group43 {
  top: 349px;
  left: 22px;
  width: 369.95623779296875px;
  height: 174.99993896484375px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}

.question-paper-group42 {
  top: 113.596435546875px;
  left: 308.552734375px;
  width: 61.403507232666016px;
  height: 61.403507232666016px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  border-radius: 8px;
  background-color: rgba(217, 217, 217, 1);
}

.question-paper-text11 {
  top: 0px;
  left: 0px;
  color: rgba(0, 0, 0, 1);
  right: 0px;
  width: 21px;
  bottom: 0px;
  height: auto;
  margin: auto;
  display: flex;
  position: absolute;
  font-size: 14px;
  font-style: SemiBold;
  text-align: left;
  align-items: center;
  font-family: Montserrat;
  font-weight: 600;
  line-height: 100%;
  font-stretch: normal;
  justify-content: center;
  text-decoration: none;
  cursor: pointer;
}

.question-paper-group41 {
  top: 112.0615234375px;
  left: 230.263671875px;
  width: 61.403507232666016px;
  height: 61.403507232666016px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  border-radius: 8px;
  background-color: rgba(217, 217, 217, 1);
}

.question-paper-text12 {
  top: 0px;
  left: 0px;
  color: rgb(0, 0, 0);
  right: 0px;
  width: 21px;
  bottom: 0px;
  height: auto;
  margin: auto;
  display: flex;
  position: absolute;
  font-size: 14px;
  font-style: SemiBold;
  text-align: left;
  align-items: center;
  font-family: "Montserrat";
  font-weight: 600;
  line-height: 100%;
  font-stretch: normal;
  justify-content: center;
  text-decoration: none;
  cursor: pointer;
}

.question-paper-group40 {
  top: 112.0615234375px;
  left: 153.5087890625px;
  width: 61.403507232666016px;
  height: 61.403507232666016px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  border-radius: 8px;
  background-color: rgba(217, 217, 217, 1);
}

.question-paper-text13 {
  top: 0px;
  left: 0px;
  color: rgb(0, 0, 0);
  right: 0px;
  width: 21px;
  bottom: 0px;
  height: auto;
  margin: auto;
  display: flex;
  position: absolute;
  font-size: 14px;
  cursor: pointer;
  font-style: SemiBold;
  text-align: left;
  align-items: center;
  font-family: "Montserrat";
  font-weight: 600;
  line-height: 100%;
  font-stretch: normal;
  justify-content: center;
  text-decoration: none;
}

.question-paper-group39 {
  top: 112.0615234375px;
  left: 76.75439453125px;
  width: 61.403507232666016px;
  height: 61.403507232666016px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  border-radius: 8px;
  background-color: rgba(217, 217, 217, 1);
}

.question-paper-text14 {
  top: 0px;
  left: 0px;
  color: rgb(0, 0, 0);
  right: 0px;
  width: 21px;
  bottom: 0px;
  height: auto;
  margin: auto;
  display: flex;
  cursor: pointer;
  position: absolute;
  font-size: 14px;
  font-style: SemiBold;
  text-align: left;
  align-items: center;
  font-family: "Montserrat";
  font-weight: 600;
  line-height: 100%;
  font-stretch: normal;
  justify-content: center;
  text-decoration: none;
}

.question-paper-group38 {
  top: 112.0615234375px;
  left: 0px;
  width: 61.403507232666016px;
  height: 61.403507232666016px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  border-radius: 8px;
  background-color: rgba(217, 217, 217, 1);
}

.question-paper-text15 {
  top: 0px;
  left: 0px;
  color: rgb(0, 0, 0);
  right: 0px;
  width: 21px;
  bottom: 0px;
  height: auto;
  margin: auto;
  display: flex;
  position: absolute;
  font-size: 14px;
  font-style: SemiBold;
  text-align: left;
  align-items: center;
  font-family: "Montserrat";
  font-weight: 600;
  line-height: 100%;
  cursor: pointer;
  font-stretch: normal;
  justify-content: center;
  text-decoration: none;
}

.question-paper-group37 {
  top: 0px;
  left: 307.017578125px;
  width: 61.403507232666016px;
  height: 61.403507232666016px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  border-radius: 8px;
  background-color: rgba(217, 217, 217, 1);
}

.question-paper-text16 {
  top: 0px;
  left: 0px;
  color: rgb(0, 0, 0);
  right: 0px;
  width: 21px;
  bottom: 0px;
  height: auto;
  margin: auto;
  display: flex;
  position: absolute;
  cursor: pointer;
  font-size: 14px;
  font-style: SemiBold;
  text-align: left;
  align-items: center;
  font-family: "Montserrat";
  font-weight: 600;
  line-height: 100%;
  font-stretch: normal;
  justify-content: center;
  text-decoration: none;
}

.question-paper-group36 {
  top: 0px;
  left: 230.263671875px;
  width: 61.403507232666016px;
  height: 61.403507232666016px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  border-radius: 8px;
  background-color: rgba(217, 217, 217, 1);
}

.question-paper-text17 {
  top: 0px;
  left: 0px;
  color: rgb(0, 0, 0);
  right: 0px;
  cursor: pointer;
  width: 21px;
  bottom: 0px;
  height: auto;
  margin: auto;
  display: flex;
  position: absolute;
  font-size: 14px;
  font-style: SemiBold;
  text-align: left;
  align-items: center;
  font-family: "Montserrat";
  font-weight: 600;
  line-height: 100%;
  font-stretch: normal;
  justify-content: center;
  text-decoration: none;
}

.question-paper-group35 {
  top: 0px;
  left: 153.5087890625px;
  width: 61.403507232666016px;
  height: 61.403507232666016px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  border-radius: 8px;
  background-color: rgba(217, 217, 217, 1);
}

.question-paper-text18 {
  top: 0px;
  left: 0px;
  color: rgb(0, 0, 0);
  right: 0px;
  width: 21px;
  bottom: 0px;
  height: auto;
  margin: auto;
  display: flex;
  position: absolute;
  cursor: pointer;
  font-size: 14px;
  font-style: SemiBold;
  text-align: left;
  align-items: center;
  font-family: "Montserrat";
  font-weight: 600;
  line-height: 100%;
  font-stretch: normal;
  justify-content: center;
  text-decoration: none;
}

.question-paper-group34 {
  top: 0px;
  left: 76.75439453125px;
  width: 61.403507232666016px;
  height: 61.403507232666016px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  border-radius: 8px;
  background-color: rgba(217, 217, 217, 1);
}

.question-paper-text19 {
  top: 0px;
  left: 0px;
  color: rgb(0, 0, 0);
  right: 0px;
  width: 21px;
  cursor: pointer;
  bottom: 0px;
  height: auto;
  margin: auto;
  display: flex;
  position: absolute;
  font-size: 14px;
  font-style: SemiBold;
  text-align: left;
  align-items: center;
  font-family: "Montserrat";
  font-weight: 600;
  line-height: 100%;
  font-stretch: normal;
  justify-content: center;
  text-decoration: none;
}

.question-paper-group33 {
  top: 0px;
  left: 0px;
  width: 61.403507232666016px;
  height: 61.403507232666016px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  border-radius: 8px;
  background-color: rgba(217, 217, 217, 1);
}

.question-paper-text20 {
  top: 0px;
  left: 20px;
  color: rgb(0, 0, 0);
  width: 21px;
  bottom: 0px;
  height: auto;
  margin: auto;
  display: flex;
  position: absolute;
  font-size: 14px;
  cursor: pointer;
  font-style: SemiBold;
  text-align: left;
  align-items: center;
  font-family: "Montserrat";
  font-weight: 600;
  line-height: 100%;
  font-stretch: normal;
  justify-content: center;
  text-decoration: none;
}

.question-paper-submit {
  top: 700px;
  left: 1525px;
  width: 178px;
  height: 44px;
  display: flex;
  position: absolute;
  background: linear-gradient(
    217deg,
    rgba(80, 249, 150, 1) 0%,
    rgba(3, 228, 253, 1) 100%
  );
  align-items: flex-start;
  flex-shrink: 1;
  border-radius: 50px;
  cursor: pointer;
}

.question-paper-text21 {
  top: 13px;
  left: 50px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: SemiBold;
  cursor: pointer;
  text-align: left;
  font-family: Montserrat;
  font-weight: 600;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
  cursor: pointer;
}

@media (max-width: 1600px) {
  .question-paper-container2 {
    left: 1000px;
    margin: 40px;
  }
  .question-paper-submit {
    left: 1125px;
  }
}

@media (max-width: 1440px) {
  .question-paper-question-paper {
    height: 996px;
  }
  .question-paper-container2 {
    left: 900px;
    margin: 40px;
  }
  .question-paper-submit {
    top: 850px;
    left: 1050px;
    border-radius: 50px;
  }
}

@media (max-width: 991px) {
  .question-paper-group44 {
    left: 40px;
  }
  .question-paper-container2 {
    left: 550px;
    width: 412px;
    height: 737px;
    margin: 0px;
    margin-top: 0px;
  }
}
